
.intro{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-justify{
    text-align: justify;
}

.h-400{
    height: 400px;
}



