
.intro{
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-two{

    height: 500px;

}

.intro-body{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.intro-text{
    text-align: center;
    font-size: 62px;

}
.constraint-text-lg{
    width: 60%;
    text-align: center;
    background-color: bisque;
}
.constraint-text-sm{
    width: 40%;
    text-align: center;
}



.hide{
    display: none;
}
/* .intro-head{

} */

.height{
    height: 464px;
    width: 30%;
}

.value-one{

    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    

}

