
.intro{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-justify{
    text-align: justify;
}
.img-rounded{
    height: 100px;
    width:100px;
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 100%;
}

.absolute{
    position: absolute;
    left: 50px;
    top: -50px;
}

.relative{
    position: relative;
    top: -60px;
   
}

.h-400{
    height: 400px;
}
.h-300{
    height: 300px;
}

.h-500{
    height: 500px;

}
.w-200{
    width: 200px;
}
body{
    background-color: goldenrod;
}
.img-fixed-height{
    height: 700px;
}

.project{
  display: inline-block;
}



.projects-view{
    white-space: nowrap;
    overflow-x: scroll;

}

.review-view{
    white-space: nowrap;
    overflow-x: scroll;

    

}




